---
layout: default
title: Home
---

<div class="posts">
	{% for post in paginator.posts %}
		<article class="post type-post {% if post.title == "Quote" %} format-quote {% else %} format-standard {% endif %} hentry">
			{% if post.thumbnail %}
				<div class="featured-image">
					<a href="">
						<img width="960" height="640" src="{{ post.thumbnail }}" alt="{{ post.caption }}" />
					</a>
				</div>
			{% endif %}

			{% if post.video %}
				<div class="featured-video">
					<div class="fluid-width-video-wrapper" style="padding-top: 56.25%;">
						<iframe src="{{ post.video }}" frameborder="0" title="" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div>
				</div>
			{% endif %}
			<div class="entry-box">
				{% if post.title == "Quote" %}
					<div class="featured-image-bg" {% if post.quote-image %} style="background-image: url('{{ post.quote-image }}');" {% endif %}></div>
				{% endif %}

				<header class="entry-header">
					{% if post.title == "Quote" %}

					{% else %}
					<h2 class="entry-title">
						<a href="{{ post.url | prepend: site.url | replace: '//', '/' }}" rel="bookmark">
							{{ post.title }}
						</a>
					</h2>
					{% endif %}
					<div class="entry-meta">
						<span class="byline">
							<span class="author vcard">
								<span class="screen-reader-text">Autor </span>
								<a class="url fn n" href="{{ post.author | prepend: "/authors#" | prepend: site.url | replace: '//', '/' }}">
									{{ site.data.authors[post.author].name }}
								</a>
							</span>
						</span>
						<span class="posted-on">
							<span class="screen-reader-text">Publicado em </span>
							<a href="{{ post.url | prepend: site.url | replace: '//', '/' }}" rel="bookmark">
								{% assign months = "Janeiro|Fevereiro|Março|Abril|Maio|Junho|Julho|Agosto|Setembro|Outubro|Novembro|Dezembro" | split: "|" %}
								{% assign m = post.date | date: "%-m" | minus: 1 %}
								{% assign day = post.date | date: "%d" %}
								{% assign month = months[m] %}
								{% assign year = post.date | date: "%Y" %}

								<time class="entry-date published" datetime="{{ year }}-{{ m | plus: 1 }}-{{ day }}T12:00:00-03:00">{{ day }} de {{ month }} de {{ year }}</time>
							</a>
						</span>
						<span class="comments-link">
							<a href="{{ post.url | prepend: site:url | replace: '//', '/' }}#disqus_thread" data-disqus-identifier="{{ post.date | date: "%Y-%m-%d" }}-{{ post.title | remove: " -" | replace: " ", "-" | downcase }}" alt="Comentários"><script id="dsq-count-scr" src="//bunkerliterario.disqus.com/count.js" async></script></a>
						</span>
					</div>
				</header><!-- .entry-header -->
				<div class="entry-content">

					{% if post.short %}

						{{ post.short }}

						<p><span class="read-more"> <a href="{{ post.url | prepend: site.url | replace: '//', '/' }}" class="more-link">Leia Mais</a></span></p>

					{% else %}

						{% if post.title == "Quote" %}
							<blockquote>
								{{ post.content }}

								<p><cite>- {{ post.quote-author }} -</cite></p>

							</blockquote>

						{% else %}

							{{ post.content }}
						{% endif %}

					{% endif %}
				</div>
			</div>
		</article><!-- article -->

	{% endfor %}

	{% if paginator.total_pages > 1 %}
	<nav class="pagination navigation">
		<div class="nav-links">
			{% if paginator.previous_page %}
				<a class="previous page-numbers" href="{{ paginator.previous_page_path | prepend: site.url | replace: '//', '/' }}"><i class="fa-chevron-left"></i> Anteriores</a>
			{% endif %}

			{% for page in (1..paginator.total_pages) %}
				{% if page == paginator.page %}
					<span class="page-numbers current">{{ page }}</span>
				{% elsif page == 1 %}
					<a class="page-numbers" href="{{ paginator.previous_page_path | prepend: site.url | replace: '//', '/'}}">{{ page }}</a>
				{% else %}
					<a class="page-numbers" href="{{ site.paginate_path | prepend: site.url | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
				{% endif %}
			{% endfor %}

			{% if paginator.next_page %}
				<a class="page-numbers" href="{{ paginator.next_page_path | prepend: site.url | replace: '//', '/' }}">Próxima <i class="fa-chevron-right"></i></a>
			{% endif %}
		</div>
	</nav>
	{% endif %}
</div>