<nav class="site-nav" aria-label="Primary Menu">
				<div class="inner">
					<button id="menu-toggle" class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">
						<span class="icon-menu" aria-hidden="true"></span>Menu
					</button>
					<ul id="nav-menu" class="nav-menu">
						<li class="menu-item menu-item-home {% if page.url == "/" %} current-menu-item {% endif %}">
							<a href="{{ site.url }}">Home</a>
						</li>
						{% assign site_pages = site.pages | sort: 'title' %}
						{% for the_page in site_pages %}
							{% if the_page.title != null %} 
								{% if the_page.layout == "page" %}
									<li class="menu-item {% if page.url == the_page.url %} current-menu-item {% endif %}">
										<a href="https://{{ the_page.url | prepend: site.url | replace: '//', '/' }}">{{ the_page.title }}</a>
									</li>
								{% endif %}
							{% endif %}
						{% endfor %}
					</ul>
					<button id="search-show" class="search-show">
						<span class="fa-search" aria-hidden="true"></span>
						<span class="screen-reader-text">Search</span>
					</button>
				</div><!-- .inner -->
			</nav><!-- .site-nav -->